


<header id="fh5co-header" class="fh5co-cover" data-section="home" role="banner" style="background-image:url(<%= @imgBackground %>);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn" style="text-align: center;">




            <h2>Edit <%= @branch.name %></h2>

            <%= render "form" %>

            <br>
            <%= link_to("Back to Branch", company_branch_path(current_company.id, @branch)) %>



                 
          </div>
        </div>
      </div>
    </div>
  </div>
</header>