

<header id="fh5co-header" class="fh5co-cover" data-section="home" role="banner" style="background-image:url(<%= @imgBackground %>);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn" style="text-align: center;">




          <h2 class="title is-2 sync_label">Create new Reward</h2>
          <br>

          <%= render "form" %>



                 
          </div>
        </div>
      </div>
    </div>
  </div>
</header>