
<header id="fh5co-header" class="fh5co-cover" data-section="home" role="banner" style="background-image:url(https://freehtml5.co/demos/run/images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn" style="text-align: center;">

            <h1>Show de <%= current_user.name %></h1>

        
          </div>
        </div>
      </div>
    </div>
  </div>
</header>




