<header id="fh5co-header" class="fh5co-cover" data-section="home" role="banner" style="background-image:url(https://freehtml5.co/demos/run/images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <h1 class="col-md-12">Working hard <br> is <strong>rewarding</strong>
                <br>Accept the challenge? </h1>
              <p class="col-md-3"><a href="/users/sign_up" class="btn btn-primary btn-lg with-arrow">Runners</a></p>
              <p class="col-md-3"><a href="/companies/sign_up" class="btn btn-primary btn-lg with-arrow">Companies</a></p>
              <!-- <p class="col-md-4"><a href="/employees/sign_up" class="btn btn-primary btn-lg with-arrow">Employees</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>How it Works</h2>
          <p>Every kilometer you run or walk it counts and you can exchange them for rewards.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="iphone">
            <img class="img-responsive" src="images/iphone.png" alt="iphone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="row services-inner">
            <div class="col-md-12 col-sm-12">
              <div class="feature-center animate-box" data-animate-effect="fadeIn">
                <span class="icon">
                  <i class="icon-thumbs-up"></i>
                </span>
                <h3>Go exercise</h3>
                <p>Take a walk or go running using your favorite app to count your kilometers. Here are the <a href="#">apps we support</a>.</p>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="feature-center animate-box" data-animate-effect="fadeIn">
                <span class="icon">
                  <i class="icon-search"></i>
                </span>
                <h3>Search & and book rewards</h3>
                <p>Use the reward map to locate the nearest rewards to your position or search a especific one. If you have enough 
                  kilometers on your sinpa account you can book it and will get a security code.</p>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="feature-center animate-box" data-animate-effect="fadeIn">
                <span class="icon">
                  <i class="icon-trophy"></i>
                </span>
                <h3>Be rewarded</h3>
                <p>Go to the establishment, present your security code and Voila you will get your reward.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="fh5co-project">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Our Latest Rewards</h2>
          <p>Because we know you like so many things we offer you a wide range of rewards. Here are just some of them, enjoy.</p>
        </div>
      </div>
    </div>
    <div class="project-content">
      <div class="col-forth">
        <div class="project animate-box" style="background-image:url(images/project-8.jpg);">
          <a href="#" class="desc">
            <span>Application</span>
            <h3>Project Name</h3>
          </a>
        </div>
      </div>
      <div class="col-forth">
        <div class="project animate-box" style="background-image:url(images/project-1.jpg);">
          <a href="#" class="desc">
            <span>Application</span>
            <h3>Project Name</h3>
          </a>
        </div>
      </div>
      <div class="col-forth">
        <div class="project animate-box" style="background-image:url(images/project-2.jpg);">
          <a href="#" class="desc">
            <span>Application</span>
            <h3>Project Name</h3>
          </a>
        </div>
      </div>
      <div class="col-forth">
        <div class="project animate-box" style="background-image:url(images/project-3.jpg);">
          <a href="#" class="desc">
            <span>Application</span>
            <h3>Project Name</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Our champions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row animate-box">
            <div class="owl-carousel owl-carousel-fullwidth">
              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="images/person_1.jpg" alt="user">
                  </figure>
                  <span>Jean Doe, via <a href="#" class="twitter">Twitter</a></span>
                  <blockquote>
                    <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                  </blockquote>
                </div>
              </div>
              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="images/person_2.jpg" alt="user">
                  </figure>
                  <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                  <blockquote>
                    <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                  </blockquote>
                </div>
              </div>
              <div class="item">
                <div class="testimony-slide active text-center">
                  <figure>
                    <img src="images/person_3.jpg" alt="user">
                  </figure>
                  <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                  <blockquote>
                    <p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="fh5co-started">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Any doubts?</h2>
          <p>Get in touch whit us and we will be happy to assist you.</p>
        </div>
      </div>
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center">
          <p><a href="#" class="btn btn-default btn-lg">Get in Touch</a></p>
        </div>
      </div>
    </div>
  </div>